{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<div {attributes -> f:format.raw()}>
	<h3 class="productbox__title">
		<neos:link.node node="{productData.product}" title="Informationen zum Produkt {productData.name}"/>
	</h3>
	<div class="productbox__container">
		<div class="productbox__image">
			<neos:link.node node="{productData.product}" title="Informationen zu {productData.name}">
				<img src="{productData.images.medium}" alt="Produktbild für {productData.name}">
			</neos:link.node>
			<div class="productbox__rating">
				<f:render partial="Rating" arguments="{rating: productData.amazon.rating}"/>
			</div>
		</div>
		<div class="productbox__details">
			<div class="productbox__abstract">
				{productData.abstract -> f:format.raw()}
			</div>
			<div class="productbox__pricecontainer">
				<f:comment>
					<!--<div class="productbox__price">-->
					<!--Preis:-->
					<!--<span>{productData.salePrice -> f:format.number(decimals:'2', decimalSeparator:',', thousandsSeparator:'.')} &euro;</span>-->
					<!--</div>-->
				</f:comment>
				<div class="productbox__grade
					{f:if(condition:'{productData.grades.total} >= 90', then:'product-information__singlegrade--verygood')}
					{f:if(condition:'{productData.grades.total} >= 70 && {productData.grades.total} < 90', then:'product-information__singlegrade--good')}
					{f:if(condition:'{productData.grades.total} >= 50 && {productData.grades.total} < 70', then:'product-information__singlegrade--average')}
					{f:if(condition:'{productData.grades.total} < 50', then:'product-information__singlegrade--bad')}
				">
					<strong>Bewertung</strong>
					<p>
						<span class="grade">{productData.grades.total}</span>
						<small>/ 100</small>
					</p>
				</div>
				<div class="productbox__amazonLink">
					<a href="{productData.amazon.link}" target="_blank" title="{productData.name} bei Amazon ansehen" class="button secondary">
						Angebot ansehen <i class="fa fa-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>