{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns="http://www.w3.org/1999/xhtml"
	  lang="en">

<f:section name="table">
	<table {attributes -> f:format.raw()}>
		<thead>
        {headerRow -> f:format.raw()}
		</thead>
		<tbody>
		{products -> f:format.raw()}
		</tbody>
		<tfoot>
        {headerRow -> f:format.raw()}
		</tfoot>
	</table>
</f:section>

<f:section name="row">
	<tr>
		<td>
			<h1>IMPLEMENT IN SITE PACKAGE</h1>
		</td>
	</tr>
</f:section>

<f:section name="headerRow">
    <tr>
        <th>
            <h1>IMPLEMENT IN SITE PACKAGE</h1>
        </th>
    </tr>
</f:section>

</html>
